# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.env
*.log

# Jupyter & Data
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
*.csv
*.tsv
*.json
*.pkl
*.h5

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db
